<h3 class="page-header">
	Currencies <span class="badge"><%= Currency.count %></span>
	<div class="pull-right">
		<%= link_to new_currency_path do %>
			<i class="fa fa-plus-circle"></i>
		<% end %>
	</div>
</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>ISO</th>
		</tr>
	</thead>
	<tbody>
		<% @currencies.each do |c| %>
			<tr>
        <td><%= link_to c.name.titleize, c %></td>
				<td><%= c.iso.upcase %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Back", :back, :class => "btn btn-default" %>
