<h3 class="page-header">
  States <span class="badge"><%= State.count %></span>
  <div class="pull-right">
    <h4>
      <%= link_to new_state_path do %>
        <i class="fa fa-plus-circle"></i>
      <% end %>
    </h4>
  </div>
</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |s| %>
      <tr>
        <td><%= link_to s.name.titleize, s %></td>
        <td><%= link_to s.country.name, country_path(s.country_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", :back, :class => "btn btn-default" %>
