<%= form_tag customers_path, :class => 'form-horizontal', :role => 'form', method: :get do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Type your search..." %>
    <span class="input-group-btn">
      <%= submit_tag "Go!", class: "btn btn-default" %>
    </span>
  </div>
<% end %>
<br>
<div class="jumbotron">
  <h1>Welcome to Forex<span class="os">OS</span></h1>
  <br><br>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Currency Pair</th>
      <th>Live Rate</th>
      <th>Customer Rate</th>
      <th>Profit</th>
    </tr>
  </thead>
  <tbody>
    <% CurrencyPair.all.each do |c|  %>
      <tr>
        <td><%= Currency.find_by_id(c.fr_currency_id).iso.upcase %> x <%= Currency.find_by_id(c.to_currency_id).iso.upcase %></td>
        <td><%=  fr = (1 / (@rates["rates"][Currency.find_by_id(c.fr_currency_id).iso.upcase]) *  @rates["rates"][Currency.find_by_id(c.to_currency_id).iso.upcase]).round(3) %></td>
        <td><%= to = c.rates.last.rate %></td>
        <td><%= (fr - to).round(3) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </ul>
</div>
