<%= form_tag customers_path, :class => 'form-horizontal', :role => 'form', method: :get do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Type your search..." %>
    <span class="input-group-btn">
      <%= submit_tag "Go!", class: "btn btn-default" %>
    </span>
  </div>
<% end %>
<h3 class="page-header">
  Customers <span class="badge"><%= Customer.count %></span>
  <div class="pull-right">
    <%= link_to new_customer_path do %>
      <i class="fa fa-plus-circle"></i>
    <% end %>
  </div>
</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sex</th>
      <th>DOB</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |c| %>
      <tr>
        <td><%= link_to c.full_name.titleize, c %></td>
        <td><%= c.sex.titleize %></td>
        <td><%= c.dob %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", :back, :class => "btn btn-default" %>
