<h3 class="page-header">
  <%= @customer.full_name.titleize %>
  <small>
    <%= @customer.class %>
  </small>
  <div class="pull-right">
    <h4>
      <%= link_to new_customer_transaction_path(@customer.id) do %>
        <i class="fa fa-plus-circle"></i>
      <% end %>
    </h4>
  </div>
</h3>
<div class="row">
  <div class="col-md-8">
    <h5>Name</h5>
    <%= @customer.full_name.titleize %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h5>Sex</h5>
    <%= @customer.sex.titleize %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h5>DOB</h5>
    <%= @customer.dob %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h5>Nationality</h5>
    <%= @customer.country.nationality.titleize %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-8">
    <%= link_to 'Edit', edit_customer_path(@customer), :class => "btn btn-default" %>
    |
    <%= link_to "Back", :back, :class => "btn btn-default" %>
  </div>
</div>
