<h3 class="page-header">
  Transactions
</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Customer</th>
      <th>Currency Pair</th>
      <th>From Amount</th>
      <th>To Amount</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |t| %>
      <tr>
        <td><%= link_to t.id, transaction_path(t) %></td>
        <td><%= t.customer.full_name %></td>
        <td><%= t.currency_pair.ccy_pair_iso %></td>
        <td><%= t.fr_amount %></td>
        <td><%= t.to_amount %></td>
        <td><%= t.rate.rate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

