<h3 class="page-header">
  Rates <span class="badge"><%= Rate.count %></span>
  <div class="pull-right">
    <%= link_to new_rate_path do %>
      <i class="fa fa-plus-circle"></i>
    <% end %>
  </div>
</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Currency Pair Name</th>
      <th>Currency Pair ISO</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
    <% @rates.each do |r| %>
      <tr>
        <td><%= r.currency_pair.ccy_pair_name %></td>
        <td><%= r.currency_pair.ccy_pair_iso%></td>
        <td><%= r.rate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", :back, :class => "btn btn-default" %>
