<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_user %>
        <%= link_to root_path, :class => "navbar-brand" do %>
          Forex
          <span class="os">OS</span>
        <% end %>
      <% else %>
        <%= link_to login_path, :class => "navbar-brand" do %>
          Forex
          <span class="os">OS</span>
        <% end %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="menu-collapse">
      <% if current_user %>  
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Countries", countries_path %></li>
          <li><%= link_to "States", states_path %></li>
          <li><%= link_to "Cities", cities_path %></li>
          <li><%= link_to "Currencies", currencies_path %></li>
          <li><%= link_to "Rates", rates_path %></li>
          <li><%= link_to "Currency Pairs", "#" %></li>
          <li><%= link_to "Customers", customers_path %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <%= render "layouts/user_logic" %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>