<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>
	  ForexOS
	 	</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<%= render "layouts/header" %>

		<div class="container">

		<%= render "layouts/flash_messages" %>

		<%= yield %>
		</div>

	  <div class="navbar navbar-default navbar-fixed-bottom">
	    <div class="container">
	      <p class="navbar-text pull-left">
	        Forex<span class="os">OS</span>
	      </p>
	    </div>
	  </div>
	</body>
</html>
